@import "tailwindcss";

@theme {
  --font-base: 1.125rem; /* default font size */
}

.text-owner {
  font-size: 3.8rem; /* 42px, leggermente più grande di 4xl (36px) */
  line-height: 1;
}
.text-owner-role {
  font-size: 1.94rem; /* 42px, leggermente più grande di 4xl (36px) */
  line-height: 1;
}

.text-home-cover-description {
  font-size: 1.311rem; /* 42px, leggermente più grande di 4xl (36px) */
  line-height: 1;
}


html {
  font-size: var(--font-base);
}

.violet-gradient-text {
  @apply bg-gradient-to-r from-violet-400 to-violet-600 text-transparent bg-clip-text;
}

@font-face {
  font-family: 'MelodiSemiBoldTitle';
  font-style: semi-bold;
  font-weight: 600;
  src: url('./assets/fonts/BLMelody-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'melodiMonoMedium';
  font-style: medium;
  font-weight: 500;
  src: url('./assets/fonts/BLMelodyMono-Medium.otf') format('truetype');
}

/* Definisci una classe per utilizzare il font personalizzato */
.font-melodi-semi-bold-title {
  font-family: 'MelodiSemiBoldTitle', sans-serif;
}

.font-melodi-mono-medium {
  font-family: 'melodiMonoMedium', sans-serif;
}